<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TRY </title>
</head>
<body>
    <h1>demo</h1>
    <style>
        

        h1{
            color: rgb(233, 17, 197);
        }
        .cls{
            color: rgb(223, 26, 92);
            border: solid 5px rgb(8, 11, 207);
            border-radius: 5px;
            padding: 50px;
            margin-top: 50px;
        }
    </style>
    <p class ="cls">hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, maiores labore esse voluptatibus reiciendis velit dolore, quam quaerat amet ea magni totam laborum voluptate quia tempore! Laboriosam rerum velit labore ad blanditiis inventore possimus nulla.</p>
    <p class ="cls">hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, maiores labore esse voluptatibus reiciendis velit dolore, quam quaerat amet ea magni totam laborum voluptate quia tempore! Laboriosam rerum velit labore ad blanditiis inventore possimus nulla.</p>
    <p class ="cls">hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, maiores labore esse voluptatibus reiciendis velit dolore, quam quaerat amet ea magni totam laborum voluptate quia tempore! Laboriosam rerum velit labore ad blanditiis inventore possimus nulla.</p>
</body>
</html>